.post {
    border: 0.11px solid gray;
    border-radius: 30px;
    height: 100px;

    margin-bottom: 15px;

    padding: 15px;
    position: relative;
}

.title {
    margin-left: 15px;
}

.level {
    position: absolute;
    right: 50px;
    top: 8px;
}

.content {
    display: flex;
}

.content p {
    margin-left: 30px;
}

.createdAt {
    position: absolute;
    right: 50px;
}