.chatRoom {
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;
    
    border: 1px solid gray;
    padding: 30px;
    font-family: 'Pretendard';
}

.messages {
    max-height: 550px;
    border: 1px solid gray;

    padding: 20px;
    overflow: scroll;
    scrollbar-width: thin;
}

.messages::-webkit-scrollbar {
    width: 5px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

.sendContainer {
    height: 40px;
    margin-top: 30px;
    position: relative;
}

.sendInput {
    border: 1px solid gray;
    border-radius: 20px;
    width: 80%;
    height: 40px;
    margin-right: 30px;
    text-indent: 15px;
    font-size: 18px;
}

.sendBtn {
    border: 1px solid gray;
    background-color: transparent;
    width: 100px;
    height: 40px;

    position: absolute;
}

.receiver {
    float: left;
    clear: both;
}

.nickName {
    position: relative;
    top: 12px;
    font-weight: bold;
}

.sender {
    float: right;
    clear: both;
    display: flex;
}

.message {
    border: 1px solid black;
    border-radius: 30px;
    padding: 12px;
    display: inline-block;
}

.dateTime {
    font-size: 13px;
    color: dimgray;
    align-self: flex-end;
}