.container {
    width: 30%;
    height: 500px;

    margin: 50px auto 150px;

    border: 1px solid grey;

    font-family: 'Pretendard';

    position: relative;
}

.container input {
    width: 68%;
    height: 35px;

    margin-left: 10%;
    text-indent: 10px;
}

.h3 {
    margin-top: 50px;
}

.input {
    margin-left: 50px;
    margin-top: 25px;
}

.container h3 {
    position: relative;
    left: 50px;
    top: 13px;
}

.loginBtn {
    border: 1px solid gray;
    background-color: transparent;

    width: 50%;
    height: 40px;

    margin-left: 25%;
    margin-top: 50px;
}

.imgContainer {
    display: flex;

    width: 300px;

    margin-left: 135px;
    margin-top: 50px;
}

.imgContainer img {
    width: 50px;
    margin-left: 30px;
}