.mainTitle {
    text-align: center;
    font-family: 'Pretendard';
    font-size: 35px;

    position: relative;
    top: 45px;
}
.missionContainer {
    width: 70%;
    margin: 0 auto;
  }

.missionTitle {
    font-family: 'Pretendard';
    font-style: italic;
    margin-top: 100px;
}

.missionInfos {
    height: 500px;
    background-color: rgb(31, 72, 46);
    position: relative;
}

.comming {
    position: absolute;
    right: 20px;
    font-size: 85px;
    bottom: 0px;
    font-style: italic;
}