.searchContainer {
    margin: 80px auto 0;
    width: fit-content;
  }  

.searchInput {
    background-color: transparent;

    border: 1px solid black;
    border-radius: 30px;

    width: 600px;
    height: 50px;
    text-indent: 20px;

    color: black;
}

.searchBtn {
    background-color: transparent;
    border: 1px solid transparent;
    color: black;

    font-size: 25px;
}

.category {
    position: absolute;
    left: 600px;
    top: 20px;

    height: 50px;
    font-size: 21px;
    z-index: 2;
}

.orderBy {
    position: absolute;
    right: 30%;
    top: 170px;
    border: 1px solid gray;
    padding: 5px;
}

.create {
    position: absolute;
    right: 23%;
    top: 157px;

    border: 1px solid gray;
    padding: 6px;
    font-size: 13px;

}

.categoryList {
    z-index: 1;

    background-color: white;
    border: 0.5px solid gray;
    border-radius: 30px;

    padding: 5px;

    position: absolute;
    left: 585px;
    top: 33px;

    display: flex;
}

.categoryList button {
    border: 0.5px solid gray;
    border-radius: 25px;
    background-color: transparent;

    padding: 5px;
    height: 30px;
    width: 50px;

    font-family: 'Pretendard';
    font-size: 13px;
    color: dimgray;

    margin-left: 10px;
}

.categoryList button:hover {
    background-color: rgba(200, 200, 200, 0.5);
    transition: 0.3s;
}

.categoryList button:active {
    background-color: rgba(200, 200, 200, 0.5);
    border: 1px solid gray;
    font-weight: bold;
}

.region {
    position: absolute;
    left: 28%;
    top: 170px;
}