.post button{
    border: 1px solid gray;
    background-color: transparent;
    padding: 8px;
    width: 100px;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.post {
    position: relative;
    padding: 50px;
}

.foodieAnswerContainer {
    width: 80%;
    margin: 30px auto;
    border: 1px solid gray;
    padding: 15px;
}

.foodieAnswerContainer button {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-top: 30px;
}