.menu {
    font-family: 'Pretendard';

    width: 80%;
    height: 200px;

    border: 0.5px solid gray;

    margin-left: 10%;
    margin-top: 50px;

    display: flex;
}

.menu img {
    border-radius: 100px;
    border: 1px solid black;

    width: 180px;
    height: 180px;

    position: relative;
    left: 30px;
    top: 10px;
}

.name {
    position: relative;
    left: 100px;
    top: 80px;
}

.follwer {
    position: relative;
    left: 200px;
    top: 80px;
}

.following {
    position: relative;
    left: 300px;
    top: 80px;
}

.points {
    position: relative;
    left: 450px;
    top: 80px;
}

.titles {
    position: relative;
    left: 600px;
    top: 15px;
}

.menu p {
    text-align: center;
}

.select {
    display: flex;
}

.select p {
    margin-left: 85px;
}

.sides {
    font-family: 'Pretendard';
    font-size: 19px;

    width: 150px;
    margin-left: 10%;
}

.sides p {
    margin-top: 80px;
    border-bottom: 0.1px solid gray;
}

.mainContainer {
    font-family: 'Pretendard';

    width: 60%;
    margin-left: 10%;
}

.mainTitle {
    font-size: 30px;
    text-align: center;

    margin-top: 50px;
}

.contents {
    border-bottom: 0.1px solid gray;

    width: 70%;
    margin-left: 15%;
    margin-top: 50px;

    padding: 15px;
}